
/*
AFFINITIC OCTOBRE 2015
SKY IS THE LIMIT
Plone Conf Bucarest

responsive css

http://mydevice.io/devices/
*/

/*** DESKTOP  AU DELA DE 1024***/
@media screen and (min-width:1024px){
        body{
        margin-top:4%;
        background-image:url(images/sky_00.jpg);
        background-size:cover;
        }

        #wrapper{
            width:90%;
            height:80%;
            border:1px solid rgba(255,255,255,0.2);
            border-radius:0px 45px 0px 55px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100&amp;0.18+0,0.09+53,0.18+100;White+Gloss+%232 */
            background: -moz-linear-gradient(top,  rgba(255,255,255,0.18) 0%, rgba(243,243,243,0.1) 50%, rgba(237,237,237,0.1) 51%, rgba(238,238,238,0.09) 53%, rgba(255,255,255,0.18) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.18)), color-stop(50%,rgba(243,243,243,0.1)), color-stop(51%,rgba(237,237,237,0.1)), color-stop(53%,rgba(238,238,238,0.09)), color-stop(100%,rgba(255,255,255,0.18))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2effffff', endColorstr='#2effffff',GradientType=0 ); /* IE6-9 */
        }

        #logo {
            top:28%;
            left:79%;
        }

        #citation{
            bottom:0px;
            width:80%;
        }

        #citation .citation-texte{
            font-size:40px;
            line-height:60px;
        }

        #citation .citation-auteur{
            font-size:12px;
        }

        #contact{
            width:300px;
            padding:1em;
        }

}


/**** IPAD MODE PORTRAIT (vertical) ****/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
        body{
            background-image:url(images/sky_00.jpg);
            background-size:cover;
        }

        #logo {
            top:100px;
            left:450px;
        }

        #wrapper{
            width:100%;
            height:100%;
            border:1px solid rgba(255,0,0,1);
            border-radius:0px 45px 0px 55px;
             /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100&amp;0.18+0,0.09+53,0.18+100;White+Gloss+%232 */
            background: -moz-linear-gradient(top,  rgba(255,255,255,0.18) 0%, rgba(243,243,243,0.1) 50%, rgba(237,237,237,0.1) 51%, rgba(238,238,238,0.09) 53%, rgba(255,255,255,0.18) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.18)), color-stop(50%,rgba(243,243,243,0.1)), color-stop(51%,rgba(237,237,237,0.1)), color-stop(53%,rgba(238,238,238,0.09)), color-stop(100%,rgba(255,255,255,0.18))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2effffff', endColorstr='#2effffff',GradientType=0 ); /* IE6-9 */
        }

        #citation{
            top:600px;
            width:90%;
        }

        #citation .citation-texte{
            font-size:50px;
            line-height:84px;
        }

        #citation .citation-auteur{
            font-size:18px;
        }

        #contact{
            width:100%;
            font-size:32px;
            line-height:44px;
            text-align:center;
            padding:10px;
        }
}


/**** IPAD MODE PAYSAGE (horizontal) ****/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
        body{
            background-image:url(images/sky_00.jpg);
            background-size:cover;
        }

        #logo {
            top:100px;
            left:450px;
        }

        #wrapper{
            width:100%;
            height:100%;
            border:1px solid rgba(255,0,0,1);
             /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,f3f3f3+50,ededed+51,ffffff+100&amp;0.18+0,0.09+53,0.18+100;White+Gloss+%232 */
            background: -moz-linear-gradient(top,  rgba(255,255,255,0.18) 0%, rgba(243,243,243,0.1) 50%, rgba(237,237,237,0.1) 51%, rgba(238,238,238,0.09) 53%, rgba(255,255,255,0.18) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.18)), color-stop(50%,rgba(243,243,243,0.1)), color-stop(51%,rgba(237,237,237,0.1)), color-stop(53%,rgba(238,238,238,0.09)), color-stop(100%,rgba(255,255,255,0.18))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(255,255,255,0.18) 0%,rgba(243,243,243,0.1) 50%,rgba(237,237,237,0.1) 51%,rgba(238,238,238,0.09) 53%,rgba(255,255,255,0.18) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2effffff', endColorstr='#2effffff',GradientType=0 ); /* IE6-9 */

        }

        #citation{
            top:750px;
            width:90%;
        }

        #citation .citation-texte{
            font-size:30px;
            line-height:84px;
        }

        #citation .citation-auteur{
            font-size:18px;
        }

        #contact{
            width:100%;
            font-size:32px;
            line-height:44px;
            text-align:center;
            padding:10px 0px;
            border:1px solid #f00;
        }
}






/**** MOBILE MODE PORTRAIT ****/
@media only screen and (min-device-width : 320px) and (max-device-width : 560px) and (orientation : portrait){
        body{
            background-image:url(images/sky_00.jpg);
            background-size:cover;
            background-position:-800px top;
        }

        #logo {
            top:280px;
            left:450px;
        }

        #wrapper{
            width:100%;
            height:100%;
            background-color:transparent;
        }

        #citation{
            top:600px;
            width:90%;
        }

        #citation .citation-texte{
            font-size:60px;
            line-height:84px;
        }

        #citation .citation-auteur{
            font-size:18px;
        }

        #contact{
            width:100%;
            font-size:32px;
            line-height:44px;
            text-align:center;
            padding:10px 0px;
        }
}


/**** MOBILE MODE PAYSAGE ****/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
        body{
                background-image:url(images/sky_00.jpg);
                background-size:cover;
                background-position:0px 20px;
            }

            #logo {
                top:0px;
                left:730px;
            }

            #wrapper{
                width:100%;
                height:100%;
                background-color:transparent;
            }

            #citation{
                top:-100px;
                left:-270px;
                width:400px;
            }

            #citation .citation-texte{
                font-size:30px;
                line-height:30px;
            }

            #citation .citation-auteur{
                font-size:18px;
            }

            #contact{
                width:100%;
                font-size:15px;
                line-height:22px;
                text-align:center;
                padding:10px 0px;
            }
}










